<!-- <h5><a [routerLink]="['/cuenta']">Cuenta de cliente</a></h5>
<h5><a [routerLink]="['/acceder']">Acceder a los medios</a></h5> -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a class="brand-link"[routerLink]="['/cuenta']">      
      Cuenta de cliente
    </a>
    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">    
        </div>
        <div class="info">
            <a [routerLink]="['/acceder']">Acceder a los medios</a>
        </div>
      </div>      
    </div>
  </aside>